html {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: blue;
	}

body * {
	border: 1px solid-black;
	background-color: grey;
}

header, footer {
	height: 15vh;
	padding: 10px;
}

header {
	margin-bottom: 12px;
}

footer {
	margin-top: 8px;
	padding: 0px;
	

}

aside, section {
	height: 50vh;
	padding: 10px;

}

aside {
	width: 15vw;
	display: inline-block;
}

section {
	margin-left: 5px;
	margin-right: 5px;
	width: 45vw;
	display: inline-block;
}
